
// BASELINE COLORS
$error-color: #E05A65;
$warning-color: #F3AA6B;
$success-color: #6BD8A1;


// WHITES, GRAYS, BLACKS
$white: #FFFFFF;
$almost-white: #FAFAFA;
$light-gray: #c2c2c2;
$black: #000000;


// TEXT COLOR
$paragraph-color: #33302d;
$placeholder-color:#8e8e8e;